<div>>
SHOW ENTRY
</div>
<div>
<label>Time of Day:</label>
<%= @entry.time_of_day %>

<label>Feeling:</label>
<%= @entry.feeling %>

<label>Situation:</label>
<%= @entry.situation %>

<label>Intensity:</label>
<%= @entry.intensity %>

<label>Breathe Together?</label>
<%= @entry.breathe_together %>
</div>