<div class="window main">

  <label>Time of Day:</label><br>
  <%= @entry.time_of_day %><br>

  <label>Feeling:</label><br>
  <%= @entry.feeling %><br>

  <label>Situation:</label><br>
  <%= @entry.situation %><br>

  <label>Intensity:</label><br>
  <%= @entry.intensity %><br>

  <div class="button">
    <a href="/entries/<%= @entry.id %>/edit">Edit Entry</a>
  </div>
  <div class="button">
    <form method="POST" action="/entries/<%=@entry.id%>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Entry">
    </form>
  </div>

</div>