<h1><%= @monster.name %></h1>

<h4>"I love <%= @monster.favorite_food %>!"</h4>
<img src="/images/monster/<%= @monster.image %>.gif"><br>

<p>Level: <%= @monster.level %></p>
<p>Exp Points: <%= @monster.exp_points %></p>
<p>Exp points until next Level: <progress value = "<%= @monster.exp_points %>" max = "100"></progress>
<%= @monster.exp_points %> / 100</p>

<a href="/users/<%= @user.id %>">Your Homepage</a>
<a href="/monsters/<%= @monster.id %>/edit">Change <%= @monster.name %></a>
<form method="POST" action="/monsters/<%=@monster.id%>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Release <%= @monster.name %>">
</form>