<div>
SHOW MONSTER
</div>

<div>
<label>Monster Name:</label>
<%= @monster.name %>

<label>Level:</label>
<%= @monster.level %>

<label>Exp Points:</label>
<%= @monster.exp_points %>
</div>

<div>
<a href="/monsters/<%= @monster.id %>/edit">EDIT MONSTER</a>
<a href="/monsters/<%= @monster.id %>/delete">DELETE MONSTER</a>
</div>

<div>
<a href="/users/home %>">BACK TO USER</a>
</div>