<div class="window main">
<h1><%= @monster.name %></h1>

<label>Level:</label>
<%= @monster.level %>
<br>
<label>Exp Points:</label>
<%= @monster.exp_points %>
<br>
<label>Until next level...</label><br>
<progress value = "<%= @monster.exp_points %>" max = "100"></progress>
<%= @monster.exp_points %> / 100
<br><br>
<div class="button">
<a href="/monsters/<%= @monster.id %>/edit">EDIT MONSTER</a>
</div>
<div class="button">
<a href="/monsters/<%= @monster.id %>/delete">DELETE MONSTER</a>
</div>
<div class="button">
<a href="/users/home %>">BACK TO USER</a>
</div>