<div class="window main">

  <h1>Hello, <%= @user.name %>.</h1>

  <h3><label>Your Monster:</label></h3>
  <a href="/monsters/<%= @user.monster.id %>"><%= @user.monster.name %></a>
  <br><br>
  <div class="button">
    <a href="/entries/new">NEW ENTRY</a>
  </div>
  <div class="button">
    <a href="/entries">ENTRIES</a>
  </div>
  <div class="button">
    <a href="/users/<%= @user.id %>/edit">EDIT</a>
  <div class="button">
    <a href="/users/<%= @user.id %>/delete">DELETE</a>
  </div>
  <div class="button">
    <a href="/sessions/logout">LOG OUT</a>
  </div>

</div>