<h1>Hello, <%= current_user.name %>!</h1>

<h4>Coins: <%= current_user.coins %></h4>

<% if current_user.monster.nil? %>
  <h4><a href="/monsters/new">You have not been assigned a Moody-Mon!</a><h4>
<% else %>
  <h4>Moody-Mon: <a href="/monsters/<%= current_user.monster.id %>"><%= current_user.monster.name %></a></h4>
<% end %>

<h4>Your Latest Mood Entry:<h4>
<% if current_user.entries == [] %>
  <p>You haven't made any entries!</p>
<% else %>
  <%= current_user.entries.last.time_of_day %><br>
  <%= current_user.entries.last.feeling %><br><br>
<% end %>

<a href="/entries/new">New Entry</a>
<a href="/entries">My Entries</a>
<a href="/users/<%= current_user.id %>/edit">Change Profile</a>
<a href="/sessions/logout">Log Out</a>
<form method="POST" action="/users/<%=current_user.id%>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Account">
</form>