<h1>Hello, <%= @user.name %>.</h1>

<h4>Coins: <%= @user.coins %></h4>

<h4>Moody-Mon: <a href="/monsters/<%= @user.monster.id %>"><%= @user.monster.name %></a></h4>

<a href="/entries/new">New Entry</a>
<a href="/entries">My Entries</a>
<a href="/users/<%= @user.id %>/edit">Change Profile</a>
<a href="/sessions/logout">Log Out</a>
<form method="POST" action="/users/<%=@user.id%>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Account">
</form>